## Assignment - Regex with Pandas

***Question:*** Load the .csv file 'sample.csv' and fill in the blanks. 'sample.csv' contains phone number and email address of members of a team.

In [1]:
#import Pandas
import pandas as pd
# Load the sample.csv file

df = pd.read_csv('sample.csv')

In [2]:
# This is how the data looks like
df

,Name,Phone Number,Email ID
0,Pujitha,'Primary:+91-786746538;Secondary:+91-7735093465’,pujitha@gmail.tech
1,Devi,'+1-2345729101’,devi.khatua@gmail.in
2,Dristi,'+91-7864566610’,dristi@gmail.com
3,Suvajit,'Primary:+91-7205672910;Seconday:+1-2345634523’,ssen@affineanalytics.com
4,Anshuman,'Primary:+2-7867434388;Secondary:+91-7739833211’,anshuman.neog@affineanalytics.com

***Question1:*** Fill in the blanks so that we can extract only Indian Phone numbers with ISD codes.
Note:
- Indian phone numbers have ISD code +91. For eg: +91-7867546731 is an Indian Phone number
- If the Phone number is +91-7867546731, then create another column called Indian_Number with 7867546731
- Don't worry if the phone number does not contain 10 digits(just extract all the digits)

In [3]:
# Enter the regex to create the column 'Indian_Number' and store only the number
# Result should look like below
indian_numbers = df['Phone Number'].str.extractall(r'Enter your answer here')
indian_numbers

        Indian_Number
  match
0 0         786746538
  1        7735093465
2 0        7864566610
3 0        7205672910
4 0        7739833211

***Question2:*** Fill in the blanks so that we filter the indian numbers for only the valid indian numbers.
Note:
- A valid indian number has 10 digits

In [5]:
# Enter the regex to filter the indian_numbers data frame for only valid numbers
# Result should look like below
indian_numbers[indian_numbers['Indian_Number'].str.count(r'Enter your answer here')==10]

        Indian_Number
  match
0 1        7735093465
2 0        7864566610
3 0        7205672910
4 0        7739833211

***Question3:*** Fill in the blanks so that we extract the email username from the email ID column and store it into a separate column called 'Username'.
Note:
- For eg.: If the email ID is xyz@abc.com, create a column called 'Username' and store xyz in that

In [7]:
# Enter the regex to extract the username from email ID
# Your output should look like the below
df['Email ID'].str.extractall(r'Enter your answer here')

              Username
  match
0 0            pujitha
1 0        devi.khatua
2 0             dristi
3 0               ssen
4 0      anshuman.neog

***Question4*** Fill in the blanks so that we extract the email domain from the email ID column and store it into a separate column called 'Domain'.
Note:
- For eg.: If the email ID is xyz@abc.com, create a column called 'Domain' and store abc in that

In [9]:
# Enter the regex to extract the domain from email ID
# Your output should look like the below
df['Email ID'].str.extractall(r'Enter your answer here')

                  Domain
  match
0 0                gmail
1 0                gmail
2 0                gmail
3 0      affineanalytics
4 0      affineanalytics

***Question5*** Fill in the blanks so that we extract the primary non Indian numbers(without ISD code) with column name 'Primary_Number'.Non-Indian numbers have ISD code not equal to +91. For eg.: If a person has two numbers, Primary:+91-7879678433 and Secondary:+1-7584732222, the primary non-Indian number will be +1-7584732222.If a person has only one number then that should only be checked for being non-Indian or not. If a person has two numbers, Primary:+2-7846578911, Secondary:+1-2345657811, the primary non-Indian number will be +2-7846578911. If a person has two numbers, Primary:+1-3456712345, Secondary:+91-9876572345, the primary non-Indian number will be +1-3456712345.
Note:
- Observe that in the data, we have the numbers ordered, with primary numbers always before secondary numbers
- Do not bother if the number is not valid(count of digits not equal to 10)

In [11]:
# Enter the regex to extract the non-Indian primary phone number from the Phone Number column without the ISD codes
# Your output should look like the below
df['Phone Number'].str.extract(r'Enter your answer here')

  Primary_Number
0            NaN
1     2345729101
2            NaN
3     2345634523
4     7867434388